## Functions and Methods Practice

#### Write a function that checks whether a number is in a given range (inclusive of high and low)

In [1]:
def ran_check(num,low,high):
    #Check if num is between low and high (including low and high)
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

# Check
ran_check(5,2,7)

5 is in the range between 2 and 7


#### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

##### Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
##### Expected Output : 
##### No. of Upper case characters : 4
##### No. of Lower case Characters : 33

In [2]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

#### Write a Python function that takes a list and returns a new list with unique elements of the first list.

##### Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
##### Unique List : [1, 2, 3, 4, 5]

In [4]:
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### Write a Python function to multiply all the numbers in a list.

##### Sample List : [1, 2, 3, -4]
##### Expected Output : -24

In [5]:
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

multiply([1,2,3,-4])

-24

#### Palindrome

In [1]:
def palindrome(s):
    
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]   # Check through slicing

palindrome('nurses run')

True