## Numbers

In [2]:
4 * (6 + 5)

44

In [3]:
3 + 1.5 + 4

8.5

In [4]:
# Square root 

import math

math.sqrt(4)

2.0

In [5]:
4 ** 0.5

2.0

## Lists

In [6]:
[0]*3

[0, 0, 0]

In [7]:
list1=[0,0,0]
list1

[0, 0, 0]

In [8]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]
list3[2][2]="goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

In [9]:
# sort list
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

In [10]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [11]:

d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [12]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [13]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

 ### we can not sort dictionary it is for map not sequence

In [14]:
not True == False

True

In [15]:
True >= False

True

In [16]:
True <= False

False

## For Loop 
you can use _ if you are not using the variable

In [17]:
for _ in "Hello":
    print("bye")

bye
bye
bye
bye
bye

In [18]:
# loop over tuple 
tup=(1,2,3)

#loop over list containing tuple 
list1 = [(1,2),(3,4),(5,6)] 
for i in list1:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [19]:
for a,b in list1:
    print(a,b)

1 2
3 4
5 6

In [20]:
# loop over dictionaries 

dict1 = {'k1':1 , 'k2':2 , 'k3':3}
for item in dict1.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [21]:
# Enumerate -- adds index to the letter 

word ="abcde"

for index, letter in enumerate(word):
    print(index , letter)

0 a
1 b
2 c
3 d
4 e

In [22]:
# zip function to merge the lists together 

# if the length of ;ists are different , it will create the list of size equal to shortest list

list1=[1,2,3]
list2=['a','b','c']
print(zip(list1,list2))

<zip object at 0x0000020BE8D3DC88>

In [23]:
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [24]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
# Shuffle
from random import shuffle
list3 = [1,2,3,4,5,6,7,8]
shuffle(list3)
list3

[4, 2, 6, 3, 5, 8, 7, 1]

In [26]:
mystr="Hello World"

mylist =[i for i in mystr]
mylist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [27]:
# even - odd

mylist2= [x if x%2==0 else 'odd' for x in range(0,20)]
mylist2

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [28]:
# two loops 

mylist2 = [x*y for x in range(1,3) for y in range(4,6)]
mylist2

[4, 5, 8, 10]

In [29]:
# words start with s

s="print the word that start with s in a sentense"
for i in s.split():
    if i[0] == 's':
      print(i)
    
#######################################

listOfS = [i if i[0] == 's' else ' ' for i in s.split()]
listOfS

start
s
sentense

[' ', ' ', ' ', ' ', 'start', ' ', 's', ' ', ' ', 'sentense']

In [30]:
# length of word is even or not
lst=[i if (len(i)%2) == 0 else 'odd' for i in s.split()]
lst

['odd', 'odd', 'word', 'that', 'odd', 'with', 'odd', 'in', 'odd', 'sentense']

## Functions

In [38]:
# even - odd
#The if needs to be at the end and you don't need the pass in the list comprehension. 
#The item will only be added if the if condition is met,
#otherwise the element will be ignored, so the pass is implicitly implemented in the list comprehension

mylist2= [x for x in range(0,20) if x%2==0]


mylist3= [x  if x%2==0 else ''for x in range(0,20)]

mylist2
mylist3

[0, '', 2, '', 4, '', 6, '', 8, '', 10, '', 12, '', 14, '', 16, '', 18, '']